In [1]:
from rdflib import Graph
import pandas as pd

# Loading the Benchmarks

In [2]:
path = 'dataset/'

g1 = Graph()
g1.parse(path+"TKG_1.ttl", format="ttl")

g2 = Graph()
g2.parse(path + "TKG_2.ttl", format="ttl")

g3 = Graph()
g3.parse(path + "TKG_3.ttl", format="ttl")

#### Export results from SPARQL query into a DataFrame

In [3]:
from rdflib.plugins.sparql.processor import SPARQLResult

def sparql_results_to_df(results: SPARQLResult) -> pd.DataFrame:
    return pd.DataFrame(
        data=([None if x is None else x.toPython() for x in row] for row in results),
        columns=[str(x) for x in results.vars],
    )

## Example query. Show the number of drugs and the response of each treatment.

In [4]:
query = """
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX ex: <http://example/#> 

select distinct ?treatment ?class  (count(distinct ?drug) as ?count_drug)
where {
    ?treatment ex:belong_to ?class .
    ?drug ex:part_of ?treatment .
    }
    GROUP BY ?treatment
    ORDER BY desc(?count_drug)
    """

### Select the benchmark

In [5]:
g = g1

### Show the results

In [6]:
qres = g.query(query)
treatment_drug = sparql_results_to_df(qres)
treatment_drug

,treatment,class,count_drug
0,http://example/Treatment/treatment0,http://example/#low_effect,10
1,http://example/Treatment/treatment1,http://example/#low_effect,9
2,http://example/Treatment/treatment2,http://example/#low_effect,9
3,http://example/Treatment/treatment3,http://example/#low_effect,9
4,http://example/Treatment/treatment399,http://example/#effective,9
...,...,...,...
543,http://example/Treatment/treatment543,http://example/#effective,2
544,http://example/Treatment/treatment544,http://example/#effective,2
545,http://example/Treatment/treatment545,http://example/#effective,2
546,http://example/Treatment/treatment546,http://example/#effective,2
547,http://example/Treatment/treatment547,http://example/#effective,2

## Write your SPARQL query

In [ ]:
query = """ .... """

## Select the benchmark

In [ ]:
g =

## Show the results

In [ ]:
qres = g.query(query_treatment_drug())
result = sparql_results_to_df(qres)
result