In [1]:
import pandas as pd
from SPARQLWrapper import SPARQLWrapper, JSON

In [2]:
endpoint = 'https://labs.tib.eu/sdm/clarify-kg-7/sparql'

In [21]:
query_1 = """
select distinct ?drug (COUNT(?o) as ?dseCount)  where {

?drug <http://clarify2020.eu/vocab/drug_isRelatedTo_dse> ?o .

}
Order BY DESC(?dseCount)
"""

query_2 = """
select distinct ?drug ?sideEffect #?cui
where {

?drug <http://clarify2020.eu/vocab/drug_isRelatedTo_dse> ?dse .
?sideEffect <http://clarify2020.eu/vocab/sideEffect_isRelatedTo_dse> ?dse .

#?sideEffect <http://clarify2020.eu/vocab/hasCUIAnnotation> ?cui .
}
order by ?drug 
"""

In [4]:
def query_result(query, endpoint):
    sparql = SPARQLWrapper(endpoint)
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    results = sparql.query().convert()
    return results

In [22]:
results = query_result(query_2, endpoint)
dd = {'drug': [], 'sideEffect': []} #, 'cui': []
for r in results['results']['bindings']:
    dd['drug'].append(r['drug']['value'].replace('http://clarify2020.eu/entity/', ''))
    dd['sideEffect'].append(r['sideEffect']['value'].replace('http://clarify2020.eu/entity/', ''))
    #dd['cui'].append(r['cui']['value'].replace('http://clarify2020.eu/entity/', ''))

drug_sideeffect = pd.DataFrame(dd)
drug_sideeffect

          drug                            sideEffect
0      DB00001                           Anaphylaxis
1      DB00001                                Anemia
2      DB00001  Aspartate_aminotransferase_increased
3      DB00001                            Dermatitis
4      DB00001                                Eczema
...        ...                                   ...
60172  DB14726                    Ulcer_of_esophagus
60173  DB14726                             Urticaria
60174  DB14730                        Hepatotoxicity
60175  DB14730                          Pancreatitis
60176  DB14754                              Anorexia

[60177 rows x 2 columns]

In [23]:
len(drug_sideeffect.drug.unique())

1339

In [24]:
drug_sideeffect.to_csv('dataset/KG_Carify_drug_side_effect.csv', index=False)

In [20]:
results = query_result(query_1, endpoint)
dd = {'drug': [], 'dseCount': []}
for r in results['results']['bindings']:
    dd['drug'].append(r['drug']['value'].replace('http://clarify2020.eu/entity/', ''))
    dd['dseCount'].append(r['dseCount']['value'])

drug_sideeffect_count = pd.DataFrame(dd)
drug_sideeffect_count

         drug dseCount
0     DB00215      754
1     DB00230      749
2     DB00715      561
3     DB00285      527
4     DB00268      513
...       ...      ...
1334  DB09057        1
1335  DB09264        1
1336  DB12130        1
1337  DB11603        1
1338  DB00051        1

[1339 rows x 2 columns]